.titulo{
    margin-top: 10px;
    text-align: center;
    font-family: 'Bungee Spice', cursive;
}

.card{
    margin: auto;
    margin-top: 10px;

}
.historia{
    border: solid black;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.texto{
    font-family: 'Montserrat', sans-serif;
}

.textNav{
    font-family: 'Poppins', sans-serif;
}